/*Import fonts from Google fonts */
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic);
/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------------------
 Main
 ---------------------------------------------- */
html, body, section {
  width: 100%;
  min-width: 320px; }

body {
  float: left;
  font: 16px "Didact Gothic", sans-serif;
  color: #666;
  background-color: #fff; }

.container::after {
  content: '';
  display: table;
  clear: both; }

header {
  min-height: 52px; }

footer {
  color: #aaaaac;
  background-color: #222; }

.container {
  max-width: 1200px;
  padding: 0 15px 50px; }

/* ----------------------------------------------
 Fonts headers paragrahps
 ---------------------------------------------- */
h1, h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px; }

h1 {
  font: 50px "Philosopher", sans-serif; }

h2 {
  padding: 50px 0;
  font-size: 36px;
  color: #222; }

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center; }

li {
  list-style-type: none; }

/* ----------------------------------------------
 Links imputs buttons img
 ---------------------------------------------- */
a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #e7746f; }

img {
  width: 100%; }

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */
a, img {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

/* ---------------------------------------------- /*
 Navigation
/* ---------------------------------------------- */
.navbar {
  width: 100%;
  min-height: 52px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5; }
  .navbar .container {
    padding: 0 15px; }

.top-menu {
  float: right; }
  .top-menu li {
    float: left; }
  .top-menu a {
    display: block;
    padding: 15px;
    outline: none; }

#m-menu:not(.mm-menu) {
  display: none; }

#m-menu-btn-wrapper {
  padding: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 50; }

.menu-button {
  cursor: pointer;
  padding: 0; }

.hamburger {
  padding: 13px 15px;
  background-color: #fff;
  width: 70px;
  margin: 0; }

.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #666;
  border-radius: 4px;
  position: absolute; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -o-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

html.mm-opening .hamburger--collapse .hamburger-inner {
  -ms-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -o-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }

html.mm-opening .hamburger--collapse .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -moz-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -o-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }

html.mm-opening .hamburger--collapse .hamburger-inner::before {
  top: 0;
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */
footer .container {
  padding: 30px 15px; }

.footer__social {
  padding-right: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: right; }
  .footer__social a {
    padding: 5px 10px;
    margin-right: 10px; }

.copyright {
  font-size: 14px;
  text-align: center; }

/* ----------------------------------------------
 Scroll Down
 ---------------------------------------------- */
.scroll-down {
  width: 50px;
  height: 50px;
  margin-left: -15px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  text-align: center;
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  .scroll-down span {
    position: relative;
    color: #fff;
    -webkit-animation: drop 1s linear infinite;
    -moz-animation: drop 1s linear infinite;
    -o-animation: drop 1s linear infinite;
    animation: drop 1s linear infinite; }

@-webkit-keyframes drop {
  0% {
    top: 0;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
@-o-keyframes drop {
  0% {
    top: 0;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
@-moz-keyframes drop {
  0% {
    top: 0;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
@keyframes drop {
  0% {
    top: 0;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
/* ----------------------------------------------
 Home
 ---------------------------------------------- */
.home {
  position: relative;
  min-height: 100vh;
  background: url("../images/cover.jpg") no-repeat fixed #222 50% 0;
  background-size: cover; }

.home-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/pattern.png") rgba(44, 62, 80, 0.3); }

.intro {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font: 20px "Philosopher", sans-serif;
  text-align: center;
  color: #fff;
  -ms-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }
  .intro p {
    margin: 25px 0; }

/* ----------------------------------------------
 Portfolio
 ---------------------------------------------- */
.portfolio {
  background-color: #f5f5f5; }
  .portfolio h2 {
    padding-bottom: 30px; }

.slider {
  width: 100%;
  max-width: 900px;
  padding: 20px 80px 50px;
  overflow: hidden; }
  .slider h3 {
    padding-bottom: 20px; }

.slider__block {
  height: 555px;
  padding: 20px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .slider__block p {
    font-size: 20px;
    color: #4285f4;
    text-align: center; }
  .slider__block img {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .slider__block img:hover {
      -webkit-filter: none;
      filter: none; }

/* ----------------------------------------------
 Skills
 ---------------------------------------------- */
.skill__block {
  width: 30%;
  float: left;
  margin-bottom: 20px; }
  .skill__block + .skill__block {
    margin-left: 5%; }

.chart {
  display: block;
  position: relative;
  max-width: 200px;
  width: 100%;
  line-height: 200px;
  text-align: center; }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0; }

.title {
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

/* ----------------------------------------------
 About
 ---------------------------------------------- */
.about {
  background-color: #f5f5f5; }

figure {
  width: 50%;
  float: left;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center; }
  figure > img {
    max-width: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.about__content {
  width: 75%;
  float: left;
  padding: 0 50px 50px; }
  .about__content p {
    margin-bottom: 10px; }
  .about__content .about__intro {
    margin-bottom: 20px;
    font-style: italic; }

.about__info {
  width: 25%;
  float: left;
  padding-bottom: 50px; }
  .about__info + .about__info {
    margin-left: 5%; }
  .about__info .title {
    padding: 0;
    text-align: left; }
  .about__info a {
    font-size: 18px;
    font-weight: bold; }

.courses {
  padding: 5px 0; }

.link {
  color: #4285f4; }

.active {
  color: #e7746f; }

/* ----------------------------------------------
 Contacts
 ---------------------------------------------- */
.contacts__footer {
  width: 50%;
  float: left;
  padding-left: 15%;
  margin-bottom: 20px; }
  .contacts__footer span {
    font-size: 14px;
    float: left; }

.contacts__title {
  margin-bottom: 10px;
  font-weight: bold; }

.skype {
  display: block;
  width: 57px;
  margin-right: 15px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .skype:hover {
    -webkit-filter: none;
    filter: none; }

/* Form */
form {
  width: 50%;
  padding: 20px 20px 50px; }

input, textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  input:focus, textarea:focus {
    border-color: #999; }

input[type="submit"] {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #222;
  border: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  input[type="submit"]:hover {
    background-color: #e7746f; }

::-webkit-input-placeholder {
  color: #666; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #666; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

.form-success {
  border-color: #3fe01d; }

.form-fail {
  border-color: #ff3928; }

.pend-block, .succ-block, .err-block {
  font-weight: bold;
  text-align: center; }

.pend-block img {
  width: 20px; }

.succ-block {
  color: #3fe01d; }

.err-block {
  color: #ff3928; }

/*js classes */
.hidden {
  display: none; }

.js-top-fixed {
  position: fixed;
  top: 0;
  z-index: 50; }

#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: #e7746f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  right: 10px;
  bottom: -40px;
  display: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  z-index: 20; }
  #scrollUp:hover {
    background: #ad5757; }
  #scrollUp .upButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

/* MEDIA */
@media (max-width: 960px) {
  header {
    display: none; }

  #m-menu-btn-wrapper {
    visibility: visible; }

  .slider {
    max-width: 600px;
    padding: 20px 60px 50px; }

  .slider__block {
    height: 420px; }

  .chart {
    max-width: 150px;
    line-height: 150px; }
    .chart canvas {
      width: 150px !important;
      height: 150px !important; }

  .about__content, .about__info {
    width: 100%;
    padding: 0 50px 50px; }

  form {
    width: 70%; }

  .contacts__footer {
    padding-left: 5%; } }
@media (max-width: 600px) {
  h1 {
    font-size: 32px; }

  h2 {
    font-size: 28px; }

  h3 {
    font-size: 20px; }

  .intro {
    font-size: 18px; }

  .top-menu {
    padding-left: 0; }

  .slider {
    max-width: 290px;
    padding: 20px 0; }

  .slider__block {
    height: 280px; }

  .slick-prev, .slick-next, .slick-dots {
    display: none !important; }

  .skill__block .title {
    font-size: 14px; }

  .chart {
    max-width: 80px;
    line-height: 80px; }
    .chart canvas {
      width: 80px !important;
      height: 80px !important; }

  figure .title {
    font-size: 18px; }
  figure > img {
    max-width: 100px; }

  .about__content, .about__info {
    padding: 0 10px 50px; }

  form {
    width: 100%;
    padding-bottom: 50px; }

  .contacts__footer {
    width: 100%; }

  .footer__social {
    text-align: left; } }

/*# sourceMappingURL=styles.css.map */
